{% extends "eticket/layout_profile.html" %}
{% load static %}
{% block title%}مسؤول قسم الاتصالات{% endblock %}
{% block body %}
<br>

    <h1>مسؤول قسم الاتصالات</h1>
    <a href="{% url 'logout_page' %}">تسجيل خروج</a>
    <br>
    <button data-state="1" onclick="show_done()">accomplished tickets</button>
    <button data-state="2" onclick="show_undone()">unaccomplished tickets</button>

    <div id="ticket-container">
        {% for item in done_tickets %}
        <h1>{{item.title}}</h1>
        
        {% endfor %}
    </div>

    
{% endblock %}
{% block script %}
<script src="{% static 'eticket/index4.js' %}"></script>
{% endblock %}